<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/estilo.css">
            <title>Detalhes Pokedéx</title>
        </head>

        <body>
            <h1 id="detalhes">Detalhes do <%= principal.nome %> </h1>

            <section id="pokem">
                <ul>
                    <div>
                        <img id="pokemo" src="<%= principal.imagem  %>" alt="<%= principal.nome %>" width="730" height="440" />
                            <li><strong>Nonme:</strong> <%= principal.nome %> </li>
                            <li><strong>Modelo:</strong> <%= principal.modelo %> </li>
                            <li><strong>Marca:</strong> <%= principal.marca %></li>
                            <li><strong>Velocidade:</strong> <%= principal.velocidade %> Km/h</li>
                            <li><strong>Tipo:</strong> <%= principal.tipo %> </li>
                            <li><strong>Informações:</strong> <%= principal.informacoes%> </li>
                    </div>
                </ul>
            </section>

            <script src="/js/script.js"></script>
        </body>
</html>